@model Movie

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2>Confirm Deletion</h2>
            <h3>@Model.Title, @Model.Year</h3>
            <form method="post">
                <div class="d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-danger" asp-controller="Home" asp-action="PostDeleteMovie" asp-route-id="@Model.MovieId">Delete</button>
                    <a class="btn btn-secondary" asp-controller="Home" asp-action="MovieCollection">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
