<div class="text-center">
	<h1 class="display-4">Get To Know Joel!</h1>
	<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
	<br /><br />
	<a href="https://baconsale.com/">Baconsale</a><br />
	<a href="https://baconsale.com/"><img src="~/img/baconsalekate.jpg" height="500"/></a>
</div>